@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.tab-item {
  text-decoration: none;
  color: blue !important;
}
.tab-item .css-cjctlb-MuiButtonBase-root-MuiTab-root {
  opacity: 1 !important;
}
.tab-panel {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}
.tab-panel img {
  max-width: 250px;
}
.tab-panel p {
  max-width: 400px;
}
.home h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin: 25px;
  color: blue;
}
.logo {
  width: 70px;
}
.css-1gsv261 {
  display: flex !important;
  align-items: flex-end;
  padding-left: 10px;
  padding-top: 10px;
  grid-gap: 10px;
}
.tab-item.active {
  border-bottom: 2px solid;
}